*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --tile-size: 100px;
  --mark-size: calc(var(--tile-size) * 0.9);
}

body {
  margin: 0;
}

.game-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.tile:first-child,
.tile:nth-child(2),
:nth-child(3) {
  border-top: none;
}

.tile:nth-child(3n + 1) {
  border-left: none;
}

.tile:nth-child(3n + 3) {
  border-right: none;
}

.tile:last-child,
.tile:nth-child(8),
.tile:nth-child(7) {
  border-bottom: none;
}

.tile.x,
.tile.circle {
  cursor: not-allowed;
}

.tile.x::before,
.tile.x::after,
.tile.circle::before {
  background-color: black;
}

.game-grid.x .tile:not(.x):not(.circle):hover::before,
.game-grid.x .tile:not(.x):not(.circle):hover::after,
.game-grid.circle .tile:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.tile.x::before,
.tile.x::after,
.game-grid.x .tile:not(.x):not(.circle):hover::before,
.game-grid.x .tile:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.tile.x::before,
.game-grid.x .tile:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.tile.x::after,
.game-grid.x .tile:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.tile.circle::before,
.tile.circle::after,
.game-grid.circle .tile:not(.x):not(.circle):hover::before,
.game-grid.circle .tile:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.tile.circle::before,
.game-grid.circle .tile:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.tile.circle::after,
.game-grid.circle .tile:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.win-state {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.win-state button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.win-state button:hover {
  background-color: black;
  color: white;
  border: white;
}

.win-state.display {
  display: flex;
}
